.wrapper {
  padding-top: 50px;
  background: rgba(0, 0, 0, 0.568);
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  justify-content: space-around;
  align-content: flex-start;
  /* overflow: auto;
  z-index: 1; */
}
