.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: turquoise;
  font-family: 'Raleway', sans-serif;
  z-index: 1; 
}

.aboutPage {
  height: 100vh;
  background-color:	#101010;
}

.portfolioPage {
  height: 100vh;
  background-color: #101010ef;
}

.contactPage {
  height: 100vh;
  background-color: #101010;
}

.homePage {
  height: 100vh;
  background-image: url('https://cdn.pling.com/img/1/a/7/d/5d6291d4f7be91e68597555bc4e86334f80d.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: lightgrey;
}

.homeContent {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  width: 40%;
  margin-left: 10%;
  padding-top: 100px;
}

.homeContent h1 {
  font-size: 50px;
}

.homeContent p {
  font-size: 25px;
}
