.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.mainPage {
  height: 100vh;
  background-color: aquamarine;
}

.contactPage {
  height: 100vh;
  background-color: palevioletred;
}

.aboutPage {
  height: 100vh;
  background-color: lightskyblue;
}

